<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../../../static/css/voucher.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Начни свой путь</title>
</head>
<body>
<div class="main">
    <div class="conteyner_1">
        <div class="osnov_img">
            <img src="../../../static/img/osnova.jpeg" class="osnov_foto">
            <header>
                <div class="logo">
                    Logo
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Фильтры</a>
                            <ul>
                                <li><a href="#">По возрасту :</a>
                                    <ul>
                                        <li><a href="#">Тебе от 8 до 14 лет</a></li>
                                        <li><a href="#"></a>Тебе от 14 до 18 лет</li>
                                        <li><a href="#"></a>Тебе от 16 до 28 лет</li>
                                    </ul>
                                </li>
                                <li><a href="#"></a>По дате:
                                    <ul>
                                        <li><a href="#"></a>Июнь</li>
                                        <li><a href="#"></a>Июль</li>
                                        <li><a href="#"></a>Август</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Войти</a></li>
                    </ul>
                </nav>
            </header>
            <div class="description">
                <h1>Лето - время приключений!</h1>
            </div>
        </div>
    </div>
    <div class="conteyner_2">
        <div class="zagolovok_vaucher">
            <p class="zagolovok-1">Начни свой путь</p>
            <p class="podzagolovok-1">Санатории и лагеря Краснодарского края</p>
        </div>
    </div>
    <div class="conteyner_3" aria-hidden="true">
        <div class="vibor-voucher">
            <div class="infor">
                <a href="infor.html" class="ssilka">
                    <img src="../../../static/img/traectoriya_log.jpeg" class="foto-logo">
                    <p class="opisanie_lag"><i class="fa fa-map-marker" aria-hidden="true"></i> Траектория, ст.
                        Каладжинская</p>
                    <p><i class="fa fa-child " aria-hidden="true"></i> От 14 до 18 лет</p>
                </a>
            </div>
            <div class="infor">
                <a href="#" class="ssilka">
                    <img src="../../../static/img/traectoriya_log.jpeg" class="foto-logo">
                    <p class="opisanie_lag"><i class="fa fa-map-marker" aria-hidden="true"></i> Траектория, ст.
                        Каладжинская</p>
                    <p><i class="fa fa-child " aria-hidden="true"></i> От 14 до 18 лет</p>
                </a>
            </div>
            <div class="infor">
                <a href="#" class="ssilka">
                    <img src="../../../static/img/traectoriya_log.jpeg" class="foto-logo">
                    <p class="opisanie_lag"><i class="fa fa-map-marker" aria-hidden="true"></i> Траектория, ст.
                        Каладжинская</p>
                    <p><i class="fa fa-child " aria-hidden="true"></i> От 14 до 18 лет</p>
                </a>
            </div>
            <div class="infor">
                <a href="#" class="ssilka">
                    <img src="../../../static/img/traectoriya_log.jpeg" class="foto-logo">
                    <p class="opisanie_lag"><i class="fa fa-map-marker" aria-hidden="true"></i> Траектория, ст.
                        Каладжинская</p>
                    <p><i class="fa fa-child " aria-hidden="true"></i> От 14 до 18 лет</p>
                </a>
            </div>
            <div class="infor">
                <a href="#" class="ssilka">
                    <img src="../../../static/img/traectoriya_log.jpeg" class="foto-logo">
                    <p class="opisanie_lag"><i class="fa fa-map-marker" aria-hidden="true"></i> Траектория, ст.
                        Каладжинская</p>
                    <p><i class="fa fa-child " aria-hidden="true"></i> От 14 до 18 лет</p>
                </a>
            </div>
            <div class="infor">
                <a href="#" class="ssilka">
                    <img src="../../../static/img/traectoriya_log.jpeg" class="foto-logo">
                    <p class="opisanie_lag"><i class="fa fa-map-marker" aria-hidden="true"></i> Траектория, ст.
                        Каладжинская</p>
                    <p><i class="fa fa-child " aria-hidden="true"></i> От 14 до 18 лет</p>
                </a>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>WebSite by Dementr2302</p>
    </div>
</div>

</div>
</body>
</html>